body {
  color: var(--white);
  background-size: cover;
  background-position: center center;
  background: var(--purple-dark) url("../../assets/image/bg-noise.png") repeat;

  .app {
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0 3vw;
    min-height: 100vh;
    position: relative;
  }
}
