.floating-bar {
  --grey: #737373;
  --rounded: 0.625vw;
  --inner-padding: 0.3125vw;
  --rounded-light: 0.4167vw;
  --animation-duration: 300ms;
  --bg-menu-wrapper: 224, 180, 251;

  left: 0;
  right: 0;
  bottom: 0;
  top: 87vh;
  position: fixed;

  .nav-wrapper {
    z-index: 10;
    width: auto;
    height: 9vh;
    overflow: hidden;
    gap: var(--inner-padding);
    padding: var(--inner-padding);
    border-radius: var(--rounded);
    background: rgba(var(--bg-menu-wrapper), 0.3);

    .logo {
      height: 100%;
      padding: 0 1vw;
      background-color: #181818;
      border-radius: var(--rounded-light);

      .logo-wrapper {
        p {
          font-size: 1.75vw;
          padding-right: 1vw;
          color: var(--purple-light);
          font-family: var(--font-protest);
        }

        span {
          font-size: 1vw;
          padding-left: 1vw;
          color: var(--purple-light);
          border-left: 1px solid var(--purple-light);
        }
      }
    }

    .inner-links {
      height: 100%;
      gap: var(--inner-padding);
      background-color: #c088e0;
      padding: var(--inner-padding);
      border-radius: var(--rounded-light);

      a {
        z-index: 1;
        height: 100%;
        display: flex;
        font-size: 1vw;
        overflow: hidden;
        font-weight: 500;
        color: #361a46;
        position: relative;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        border-radius: var(--rounded-light);

        padding: 0.5vw 0.75vw;
        border: 1px solid #361a46;
        transition: all var(--animation-duration) ease-in-out;

        .staggered-text {
          transition: all var(--animation-duration) ease-in-out;

          span {
            position: relative;
            display: inline-block;
            transform: translateY(0);
            transition: all var(--animation-duration) ease-in-out;
            transition-delay: calc(25ms * var(--i));

            &::before {
              position: absolute;
              font-size: 1vw;
              color: #fff;
              font-weight: 500;
              top: 10vh;
              content: attr(data-hover);
              transform: translate3d(0, 0, 0);
              white-space: pre;
            }
          }
        }

        &::before {
          content: "";
          z-index: -1;
          left: 0;
          top: 0;
          scale: 2;
          right: 0;
          bottom: 0;
          overflow: hidden;
          position: absolute;
          border-radius: 100%;
          transition: all var(--animation-duration) ease-in-out;
          background-color: #181818;
          transform: translate(-100%, 100%);
        }

        &:hover {
          color: var(--white);
          border: 1px solid #181818;

          .staggered-text span {
            transform: translateY(-10vh);
            transition-delay: calc(25ms * var(--i));
          }

          &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate(0, 0);
          }
        }

        &.active {
          border-color: #361a46;
          background-color: #361a46;
          color: var(--purple-light);
        }
      }
    }

    .outer-links {
      height: 100%;
      gap: var(--inner-padding);
      border-radius: var(--rounded);

      a {
        --dark: #361a46;
        --light: #e0b4fb;

        z-index: 1;
        height: 100%;
        display: flex;
        font-size: 1vw;
        overflow: hidden;
        font-weight: 500;
        position: relative;
        align-items: center;
        color: var(--light);
        text-decoration: none;
        background-color: var(--dark);
        justify-content: center;
        border-radius: var(--rounded-light);

        padding: 0.5vw 1vw;
        border: 1px solid var(--dark);
        transition: all 300ms ease-in-out;

        .staggered-text {
          span {
            position: relative;
            display: inline-block;
            transition: all 300ms ease-in-out;
            transition-delay: calc(25ms * var(--i));
            transform: translateY(0);

            &::before {
              top: 10vw;
              font-size: 1vw;
              font-weight: 500;
              white-space: pre;
              position: absolute;
              content: attr(data-hover);
              color: var(--purple-light);
              transform: translate3d(0, 0, 0);
            }
          }
        }

        &::before {
          content: "";
          z-index: -1;
          left: 0;
          top: 0;
          scale: 2;
          right: 0;
          bottom: 0;
          overflow: hidden;
          position: absolute;
          border-radius: 100%;
          background-color: #181818;
          transform: translate(-100%, 100%);
          transition: all var(--animation-duration) ease-in-out;
        }

        &:hover {
          color: var(--white);
          border: 1px solid var(--purple-light);

          .staggered-text span {
            transform: translateY(-10vw);
            transition-delay: calc(25ms * var(--i));
          }

          &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}
