nav {
  width: 100%;
  height: 10vh;

  .logo {
    p {
      font-size: 1.5vw;
      font-family: var(--font-neue-medium);
    }
  }

  .nav-links {
    width: auto;
    gap: 1vw;

    a {
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-decoration: none;
      font-weight: 500;
      font-size: 1vw;
      border-radius: 1.04vw;
      padding: 0.5vw 0.75vw;
      color: var(--purple-light);
      border: 1px solid var(--purple-light);
      transition: all 300ms ease-in-out;

      @media (max-width: 600px) {
        font-size: 5vw;
      }

      .staggered-text {
        display: flex;

        span {
          position: relative;
          display: inline-block;
          transition: all 300ms ease-in-out;
          transition-delay: calc(25ms * var(--i));
          transform: translateY(0);

          &::before {
            position: absolute;
            font-size: 1vw;
            color: var(--white);
            font-weight: 500;
            top: 150%;
            content: attr(data-hover);
            transform: translate3d(0, 0, 0);
            white-space: pre;

            @media (max-width: 600px) {
              font-size: 5vw;
            }
          }
        }
      }

      &:hover {
        color: var(--white);

        .staggered-text span {
          transform: translateY(-150%);
          transition-delay: calc(25ms * var(--i));
        }
      }

      &.dark {
        color: var(--purple-dark);
        background-color: var(--purple-light);

        .staggered-text span {
          font-family: var(--font-neue-medium);
        }
      }
    }
  }
}
