:root {
  // Colors
  --white: #fff;
  --purple: #361a46;
  --purple-dark: #190027;
  --purple-light: #e0b4fb;

  // Fonts
  --font-protest: "Protest", sans-serif;
  --font-neue-roman: "Neue Haas Display roman", sans-serif;
  --font-neue-roman-italic: "Neue Haas Display roman italic", sans-serif;
  --font-neue-medium: "Neue Haas Display medium", sans-serif;
  --font-neue-medium-italic: "Neue Haas Display medium italic", sans-serif;
  --font-neue-bold: "Neue Haas Display bold", sans-serif;
  --font-neue-bold-italic: "Neue Haas Display bold italic", sans-serif;
  --font-neue-black: "Neue Haas Display black", sans-serif;
  --font-neue-black-italic: "Neue Haas Display black italic", sans-serif;
  --font-neue-light: "Neue Haas Display light", sans-serif;
  --font-neue-light-italic: "Neue Haas Display light italic", sans-serif;
  --font-neue-thin: "Neue Haas Display thin", sans-serif;
  --font-neue-thin-italic: "Neue Haas Display thin italic", sans-serif;
  --font-neue-extra-thin: "Neue Haas Display extra thin", sans-serif;
  --font-neue-extra-thin-italic: "Neue Haas Display extra thin italic",
    sans-serif;
}
