*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayRoman.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayRomanItalic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayMedium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayMediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayBoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayBlack.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayBlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayLightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayThin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayXThin.ttf");
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayXThinItalic.ttf");
  font-weight: 50;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayXXThin.ttf");
  font-weight: 25;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/font/neue/NeueHaasDisplayXXThinItalic.ttf");
  font-weight: 25;
  font-style: italic;
}

@font-face {
  font-family: "Protest";
  src: url("./assets/font/protest/ProtestGuerrilla-Regular.ttf");
}

@font-face {
  font-family: "Badger";
  src: url("./assets/font/badger/BadgerValley-Regular.ttf");
}

:root {
  // colors
  --white: #fff;
  --purple: #361a46;
  --purple-dark: #1f0c26;
  --purple-light: #e0b4fb;

  // font
  --badger: "Badger", sans-serif;
  --protest: "Protest", sans-serif;
  --neue: "Neue Haas Display", sans-serif;
}

.fw-l {
  font-weight: lighter;
}

.fw-sb {
  font-weight: 600;
}

.fw-med {
  font-weight: 500;
}
